[core]
	excludesfile = /Users/chy/.gitignore_global
    editor = nvim
    pager = delta
[interactive]
    diffFilter = delta --color-only
[include]
    path = ~/.delta.themes.gitconfig
[delta]
    navigate = true
    side-by-side = true
    features = colibri
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
# This is Git's per-user configuration file.
[user]
	name = Yuan
	email = isyuan@yeah.net
[alias]
    pso = push --set-upstream origin
    plu = pull upstream
[pull]
    rebase = false
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/chy/.stCommitMsg

